*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#111;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

overflow:hidden;

font-family:Arial;

}

.game{

border:4px solid #3af0ff;

box-shadow:0 0 30px cyan;

}

canvas{

display:block;

background:#1b1b1b;

image-rendering:pixelated;

}